{
  "presets": [
    ["@babel/preset-env", {
      "loose": false,
      "modules": false
    }], "@babel/preset-react",
    "@babel/preset-typescript"
  ] ,
  "plugins": [
    "@babel/plugin-transform-modules-amd",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}